.resume {
  background: #bfbfbf;
  text-align: center;
}
.resume-title {
  padding-top: 8vh;
  padding-bottom: 8vh;
}

.resume-doc {
  border-color: black;
  border-width: 0.3vh;
  border-radius: 1vh;
  border-style: solid;
  max-height: 140vh;
  max-width: 80vw;
  margin-bottom: 5vh;
}

.download {
  padding-bottom: 7vh;
}
