.about {
  color: white;
  text-align: center;
  height: 100vh;
}

.break {
  margin-left: 30vw;
  margin-right: 30vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.body {
  margin-top: 10vh;
  margin-bottom: 10vh;
  font-size: calc(2vh + 0.5vw);
  margin-left: 20vw;
  margin-right: 20vw;
}
