.about {
  color: white;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  color: white;
  width: 100%;
  max-width: 1400px;
}

.about-left {
  flex: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
}

.profile-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 5px solid white;
}

.about-right {
  flex: 2;
}

.about-right h1 {
  font-size: 5rem;
  margin-bottom: 30px;
}

.about-points {
  list-style-type: none;
  padding-left: 0;
}

.about-points li {
  font-size: 1.4rem;
  margin-bottom: 25px;
  line-height: 1.4; 
}