.contact {
  height: 100vh;
}

.dark-title {
  color: white;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  margin-top: 20vh;
  margin-left: 5vw;
  margin-right: 5vw;
}

.link .icon {
  height: calc(10vh + 10vw);
  width: calc(10vh + 10vw);
}
