.navbar {
  position: sticky;
  top: 0px;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 13px;
}

.item {
  color: white;
  margin-left: 6vw;
  margin-right: 6vw;
  position: flex;
  cursor: pointer;
}
