.navbar {
  position: sticky;
  top: 10px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  z-index: 1;
}

.item {
  color: white;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 10px;
  padding: 6px 12px;
}

.item:hover {
  scale: 1.1;
  color: black;
  background-color: white;
}
