/*
TODO
- add media query for mobile devices so that background doesn't repeat

*/

.header {
  background-image: url(../../assets/stars.jpg);
  background-size: 100%;
  color: white;
  text-align: center;
  background-attachment: fixed;
  height: 100vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

.face {
  height: 20vh;
  width: 20vh;
  margin-top: 15vh;
  margin-bottom: 1vh;
}

.intro {
  font-size: calc(5vh + 2.5vw);
}

.description {
  font-size: calc(2vh + 0.5vw);
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.button {
  border-color: white;
  border-radius: 20vh;
  border-style: solid;
  padding: 2vh;
  margin-right: calc(40vw - 7rem);
  margin-left: calc(40vw - 7rem);
  cursor: pointer;
  font-size: 2.5vh;
}

/*
animation: spin infinite 10s linear;

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
